<div class="container">
<h1>Ristorante Il Gambero Rosso</h1>

<div class="row row-cols-2">
  <img src="https://cdn.pixabay.com/photo/2016/11/18/22/21/restaurant-1837150__340.jpg" alt="">
  <p>We would like to share our passion for the diverse culinary delights of Dalmatia with you and spoil you with authentic Italian cuisine, especially with our exquisite fish dishes and seafood. The culinary pleasure is perfectly rounded off with the right drink accompaniment. That is why you will also find an exclusive selection of autochthonous white and red wines from the Italian regions. We would be happy to recommend the right wine to accompany your chosen dishes .It is particularly important to us to serve you healthy dishes made from fresh, regional ingredients. Many of the ingredients therefore come from our own large fruit and vegetable garden in Forchtenstein. The olive oil comes from our olive grove on Peljesac with about 260 olive trees. We get fresh fish and seafood delivered from the Dalmatian coast three times a week. The salt also comes directly from Ston.</p>


</div>
</div>
