<div class="row row-cols-2">
    <div class=" card " style="width: 25rem; ">
        <img src="https://media.istockphoto.com/id/164850548/photo/staff-smiling-in-restaurant.jpg?b=1&s=170667a&w=0&k=20&c=289IRGoaYgZDxsJDlAHtkP5JuQJ-8ZHXszLzaoBYaCM=" class=" card-img-top " alt="... ">
        <div class="card-body ">
            <h5 class="card-title ">Who we are?</h5>
            <br>
            <div>
                <h4 class="card-text ">Da Capo - that means feeling good and enjoying the special Italian atmosphere. Let yourself be pampered by the Da Capo team and dine by romantic candlelight. Homemade pasta and wines from the best Italian vineyards. The Da Capo is your
                    Italian retreat in the center of Vienna - 2 minutes from Stephansplatz and the U3 station Stubentor. Open daily, hot food served all day MON – SUN 11:30 a.m. – 10:00 p.m.
                </h4>
            </div>
        </div>
    </div>
</div>
