<div class="container bg-info-subtle text-emphasis-info ">
<h1>Why choose us</h1>
<h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique pariatur quaerat expedita quo quae! Consequatur!</h5>
<div class="row row-cols-3">
  <div>
    <h5 class="card-title">01</h5>
    <h4>Ambience </h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
  <div>
    <h5 class="card-title">02</h5>
    <h4>Skilled amangement</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
  <div>
    <h5 class="card-title">03</h5>
    <h4>Good quality Food</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>

</div>
</div>
