<h1>Check Our specials</h1>
<h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, explicabo?</h4>
<div class="row row-cols-3 d-flex justify-content-center">

    <div class="dropdown-center">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
         Features
         <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/menu.PrawnPizza">PrawnPizza</a></li>
          <li><a class="dropdown-item" routerLink="/menu.ChickenPizza">ChickenPizza</a></li>
          <li><a class="dropdown-item" routerLink="/menu.lemoncake">Lemon cake</a></li>
        </ul>
          </button>
    </div>
    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem dolorum impedit cupiditate, odio velit quasi nam. Eum dolor distinctio itaque culpa ducimus quibusdam consectetur voluptatibus saepe eveniet, hic laboriosam enim?
    </h6>
    <img src="https://cdn.pixabay.com/photo/2015/04/08/13/13/food-712665__340.jpg" alt="">

</div>
