div{
  background-image: url(https://media.istockphoto.com/id/669740490/photo/family-dinner-top-view.jpg?b=1&s=170667a&w=0&k=20&c=dP0ZDryog6Jkzqkd_IjItlpWH8pfL6YlQg__36yat1E=);
  background-size:cover;
  background-position: center;
  padding-bottom: 100px;
  padding-top: 100px;
}
h1{
  text-align: center;
  color:black;
  font-family:Brush Script MT;
}
h5{
  text-align: center;
  color:solid black;
}


